@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

}

@layer components {
  .p-span {
    @apply text-xs font-extralight text-gray-600;
  }

  .p-description {
    @apply text-sm text-sidebar-foreground pb-2;
  }

  .p-title {
    @apply text-[0.9rem] font-medium;
  }

  .tag {
    @apply text-xs mt-2 bg-sidebar-border px-[4px] py-[1.5px] mr-2 rounded-sm;
  }

  .article {
    @apply flex flex-col gap-2 w-full lg:px-14 md:px-8 px-4 text-sidebar-foreground;
  }

  .form-layout {
    @apply grid grid-cols-1 lg:grid-cols-3 md:grid-cols-3 gap-[0.25rem] border-b border-sidebar-border pb-2
  }

  .page-layout {
    @apply grid grid-cols-1 md:grid-cols-1 lg:grid-cols-5 gap-4 flex-grow
  }

  .code-container {
    @apply max-h-96 overflow-auto
    /* Yatay kaydırma çubuğu ekler */
  }
}